{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/extras.css' %}">
        <link rel="stylesheet" href="{% static 'css/extensiones.css' %}">
        <title>Escape From Tarkov</title>
    </head>
        <body>
            <div class="sidebar" id="cont-menu">
                <h3>Menú</h3>
                    <ul>
                        <li><a href="{% url 'Comprar' %}">Tienda</a></li>
                        <li><a href="{% url 'Soporte' %}">Soporte</a></li>
                        <li><a href="{% url 'Registrar' %}">Registrarse</a></li>
                        <li><a href="{% url 'Ingresar' %}">Iniciar Sesión</a></li>
                    </ul>
            </div>
            <div class="parent">
                <header class="div1" id="cont-top">
                    <div id="menu-icon" onclick="toggleSidebar()">
                        <img src="{% static 'img/categories.png' %}" alt="Menú" class="img-fluid" style="cursor: pointer;">
                    </div>
                    <div id="cont-logo">
                        <a href="{% url 'Principal' %}">
                            <img src="{% static 'img/logo.png' %}" alt="Logo" class="img-fluid">
                        </a>
                    </div>
                    <div id="buttons">
                        <a href="https://escapefromtarkov.fandom.com/wiki/Escape_from_Tarkov_Wiki">Wiki</a>
                        <a href="{% url 'Comprar' %}">Tienda</a>
                        <a href="{% url 'Soporte' %}">Soporte</a>
                        <a href="{% url 'Registrar' %}">Registrarse</a>
                        <a href="{% url 'Ingresar' %}">Iniciar Sesión</a>
                        <button type="button" class="btn btn-outline-warning" href="{% url 'Comprar' %}">Tienda</button>
                    </div>
                </header>
                    <div class="div2">
                        <div id="cont-extensions">
                            <a href="{% url 'Skins' %}">
                                <div class="image-container">
                                    <img src="{% static 'img/extensions.png' %}" alt="Versiones">
                                </div>
                                <div id="vertxt" class="text-container">
                                    <h2>Apariencias</h2>
                                    <p>
                                        Accede a una variedad de opciones de personalización visual para tu personaje.
                                        Adapta tu estilo en el juego con atuendos únicos y accesorios, reflejando tu personalidad o estrategias tácticas.
                                    </p>
                                </div>
                                <button class="extension-btn">IR</button>
                            </a>
                        </div>
                        <div id="cont-extensions">
                            <a href="{% url 'Extensiones' %}">
                                <div class="image-container">
                                    <img src="{% static 'img/ext2.png' %}" alt="Extensiones">
                                </div>
                                <div id="exttxt" class="text-container">
                                    <h2>Modo de juego PvE</h2>
                                    <p>
                                        Explora nuevos desafíos en el entorno jugador contra entorno. Enfréntate a enemigos
                                        controlados por inteligencia artificial y perfecciona tus habilidades en un entorno más
                                        controlado, sin la presión del combate jugador contra jugador.
                                    <p id="price">CLP $7.000</p>
                                    </p>
                                </div>
                                <button class="extension-btn buy-btn">Comprar</button>
                            </a>
                        </div>
                        <div id="cont-extensions">
                            <a href="{% url 'Stash' %}">
                                <div class="image-container">
                                    <img src="{% static 'img/ext3.png' %}" alt="Extensiones">
                                </div>
                                <div id="exttxt" class="text-container">
                                    <h2>Agrandar Alijo</h2>
                                    <p>
                                        Amplía significativamente tu espacio de almacenamiento, proporcionando un inventario más
                                        grande para gestionar objetos valiosos y recursos esenciales. Esto te permitirá acumular
                                        más equipo sin preocuparte por el límite de espacio.
                                    </p>
                                </div>
                                <button class="extension-btn">IR</button>
                            </a>
                        </div>
                    </div>
                <footer class="div3" id="cont-footer">
                    ©2025 EFT. TODOS LOS DERECHOS RESERVADOS.
                </footer>
            </div>
            <script src="main.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        </body>
</html>