{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/extras.css' %}">
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
    <title>Escape From Tarkov</title>
</head>
    <body>
        <div class="sidebar" id="cont-menu">
            <h3>Menú</h3>
            <ul>
                <a href="https://escapefromtarkov.fandom.com/wiki/Escape_from_Tarkov_Wiki" class="btn btn-outline-btn-primary">Wiki</a>
                <a href="{% url 'Comprar' %}" class="btn btn-outline-btn-primary">Tienda</a>
                <a href="{% url 'Soporte' %}" class="btn btn-outline-btn-primary">Soporte</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'Perfil' %}" class="btn btn-outline-btn-primary">Mi Perfil</a>
                    <a href="{% url 'logout' %}" class="btn btn-outline-btn-primary">Cerrar Sesión</a>
                {% else %}
                    <a href="{% url 'Registrar' %}" class="btn btn-outline-btn-primary">Registrarse</a>
                    <a href="{% url 'Ingresar' %}" class="btn btn-outline-btn-primary">Iniciar Sesión</a>
                {% endif %}
            </ul>
        </div>
        <div class="parent">
            <header class="div1" id="cont-top">
                <div id="menu-icon" onclick="toggleSidebar()">
                    <img src="{% static 'img/categories.png' %}" alt="Menú" class="img-fluid" style="cursor: pointer;">
                </div>
                <div id="cont-logo">
                    <a href="{% url 'Principal' %}">
                        <img src="{% static 'img/logo.png' %}" alt="Logo" class="img-fluid">
                    </a>
                </div>
                <div id="buttons">
                    <a href="https://escapefromtarkov.fandom.com/wiki/Escape_from_Tarkov_Wiki" class="btn btn-outline-btn-primary">Wiki</a>
                    <a href="{% url 'Comprar' %}" class="btn btn-outline-btn-primary">Tienda</a>
                    <a href="{% url 'Soporte' %}" class="btn btn-outline-btn-primary">Soporte</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'Perfil' %}" class="btn btn-outline-btn-primary">Mi Perfil</a>
                        <a href="{% url 'logout' %}" class="btn btn-outline-btn-primary">Cerrar Sesión</a>
                    {% else %}
                        <a href="{% url 'Registrar' %}" class="btn btn-outline-btn-primary">Registrarse</a>
                        <a href="{% url 'Ingresar' %}" class="btn btn-outline-btn-primary">Iniciar Sesión</a>
                    {% endif %}
                </div>
            </header>
                <div class="div2">
                    <div id="cont-perfil">
                        <h1>Perfil de Usuario</h1>
                        {% if user.is_authenticated %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
                                {% endfor %}
                            {% endif %}

                            <div class="avatar-container">
                                {% if request.user.perfilusuario.avatar %}
                                    <img src="{{ request.user.perfilusuario.avatar.url }}" alt="Avatar de {{ user.username }}">
                                {% else %}
                                    <img src="{% static 'img/profile.png' %}" alt="Avatar por defecto">
                                {% endif %}
                                <form method="post" enctype="multipart/form-data" action="{% url 'perfil' %}">
                                    {% csrf_token %}
                                    {{ form_avatar.avatar }}
                                    <div class="form-text text-danger">{{ form_avatar.avatar.errors }}</div>
                                    <button type="submit" class="btn btn-primary mt-2" name="actualizar_avatar">Guardar Avatar</button>
                                </form>
                            </div>

                            <hr class="mt-4 mb-3">
                            <h2>Cambiar Contraseña</h2>
                            <form method="post" action="{% url 'perfil' %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="{{ form_password.old_password.id_for_label }}" class="form-label"><i class="fas fa-lock me-2"></i> Contraseña Actual:</label>
                                    {{ form_password.old_password }}
                                    <div class="form-text text-danger">{{ form_password.old_password.errors }}</div>
                                </div>
                                <div class="mb-3">
                                    <label for="{{ form_password.new_password1.id_for_label }}" class="form-label"><i class="fas fa-key me-2"></i> Nueva Contraseña:</label>
                                    {{ form_password.new_password1 }}
                                    <div class="form-text text-danger">{{ form_password.new_password1.errors }}</div>
                                </div>
                                <div class="mb-3">
                                    <label for="{{ form_password.new_password2.id_for_label }}" class="form-label"><i class="fas fa-key me-2"></i> Confirmar Nueva Contraseña:</label>
                                    {{ form_password.new_password2 }}
                                    <div class="form-text text-danger">{{ form_password.new_password2.errors }}</div>
                                </div>
                                <button type="submit" class="btn btn-warning ms-2" name="cambiar_password">Cambiar Contraseña</button>
                            </form>

                            <hr class="mt-4 mb-3">
                            <h2>Información del Perfil</h2>
                            <form method="post" action="{% url 'perfil' %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="{{ form_info.username.id_for_label }}" class="form-label"><i class="fas fa-user me-2"></i> Nombre de Usuario:</label>
                                    {{ form_info.username }}
                                    <div class="form-text text-danger">{{ form_info.username.errors }}</div>
                                </div>
                                <div class="mb-3">
                                    <label for="{{ form_info.first_name.id_for_label }}" class="form-label"><i class="fas fa-signature me-2"></i> Nombre:</label>
                                    {{ form_info.first_name }}
                                    <div class="form-text text-danger">{{ form_info.first_name.errors }}</div>
                                </div>
                                <div class="mb-3">
                                    <label for="{{ form_info.last_name.id_for_label }}" class="form-label"><i class="fas fa-pen-fancy me-2"></i> Apellido:</label>
                                    {{ form_info.last_name }}
                                    <div class="form-text text-danger">{{ form_info.last_name.errors }}</div>
                                </div>
                                <div class="mb-3">
                                    <label for="{{ form_info.email.id_for_label }}" class="form-label"><i class="fas fa-envelope me-2"></i> Correo Electrónico:</label>
                                    {{ form_info.email }}
                                    <div class="form-text text-danger">{{ form_info.email.errors }}</div>
                                </div>

                                <button type="submit" class="btn btn-primary" name="actualizar_info">Guardar Cambios</button>
                                <a href="{% url 'logout' %}" class="btn btn-danger ms-2">Cerrar Sesión</a>
                            </form>

                        {% else %}
                            <p>No estás autenticado.</p>
                            <a href="{% url 'Ingresar' %}" class="btn btn-primary">Iniciar Sesión</a>
                        {% endif %}
                    </div>
                </div>
            <footer class="div6 scroll-section" id="cont-footer">
                ©2025 EFT. TODOS LOS DERECHOS RESERVADOS.
            </footer>
        </div>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>