{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/extras.css' %}">
        <link rel="stylesheet" href="{% static 'css/principal.css' %}">
        <title>Escape From Tarkov</title>
    </head>
        <body>
            <div class="sidebar" id="cont-menu">
                <h3>Menú</h3>
                    <ul>
                        <a href="https://escapefromtarkov.fandom.com/wiki/Escape_from_Tarkov_Wiki" class="btn btn-outline-btn-primary">Wiki</a>
                        <a href="{% url 'Comprar' %}" class="btn btn-outline-btn-primary">Tienda</a>
                        <a href="{% url 'Soporte' %}" class="btn btn-outline-btn-primary">Soporte</a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'Perfil' %}" class="btn btn-outline-btn-primary">Mi Perfil</a>
                            <a href="{% url 'logout' %}" class="btn btn-outline-btn-primary">Cerrar Sesión</a>
                        {% else %}
                            <a href="{% url 'Registrar' %}" class="btn btn-outline-btn-primary">Registrarse</a>
                            <a href="{% url 'Ingresar' %}" class="btn btn-outline-btn-primary">Iniciar Sesión</a>
                        {% endif %}
                    </ul>
            </div>
            <div id="rotate-message">
                Por favor, rota tu dispositivo a horizontal para una mejor experiencia.
                <img src="{% static 'img/rotate_icon.png' %}" alt="Icono de rotación" style="width: 100px; margin-top: 20px;">
            </div>
            <div class="parent">
                <header class="div1" id="cont-top">
                    <div id="menu-icon" onclick="toggleSidebar()">
                        <img src="{% static 'img/categories.png' %}" alt="Menú" class="img-fluid" style="cursor: pointer;">
                    </div>
                    <div id="cont-logo">
                        <a href="{% url 'Principal' %}">
                            <img src="{% static 'img/logo.png' %}" alt="Logo" class="img-fluid">
                        </a>
                    </div>
                        <div id="buttons">
                            <a href="https://escapefromtarkov.fandom.com/wiki/Escape_from_Tarkov_Wiki" class="btn btn-outline-btn-primary">Wiki</a>
                            <a href="{% url 'Comprar' %}" class="btn btn-outline-btn-primary">Tienda</a>
                            <a href="{% url 'Soporte' %}" class="btn btn-outline-btn-primary">Soporte</a>
                            {% if user.is_authenticated %}
                                <a href="{% url 'Perfil' %}" class="btn btn-outline-btn-primary">Mi Perfil</a>
                                <a href="{% url 'logout' %}" class="btn btn-outline-btn-primary">Cerrar Sesión</a>
                            {% else %}
                                <a href="{% url 'Registrar' %}" class="btn btn-outline-btn-primary">Registrarse</a>
                                <a href="{% url 'Ingresar' %}" class="btn btn-outline-btn-primary">Iniciar Sesión</a>
                            {% endif %}
                        </div>
                </header>
                    <div class="div2 scroll-section" id="cont-trailer">
                        <iframe src="https://www.youtube.com/embed/IPlnHe9l34E?si=0Rjjdb1UNWj8CMcs?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allowfullscreen muted></iframe>
                    </div>
                    <div class="div3 scroll-section">
                        <div class="row">
                            <div class="col-12">
                                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
                                    <div id="ind" class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <video id="img1" src="{% static 'videos/sld1.mp4' %}" class="d-block w-100" alt="..." autoplay loop muted playsinline>
                                                Tu navegador no soporta la etiqueta de video.
                                            </video>
                                            <div id="sld1" class="carousel-caption d-none d-md-block">
                                                <h5>• Prepárate para la aventura en Escape from Tarkov</h5>
                                                <p>Un juego de rol/simulador de acción en primera persona que combina realismo extremo, mecánicas MMO y una historia inmersiva.
                                                    La región ficticia de Norvinsk se encuentra sumida en el caos. En la ciudad de Tarkov, dividida por grupos armados y marcada
                                                    por una lucha constante por la supervivencia, los jugadores encarnarán a mercenarios en su intento por escapar de esta metrópolis
                                                    devastada. Elige tu bando: USEC o BEAR, y toma decisiones clave para sobrevivir y escapar mientras lidias con un mundo lleno de peligros.</p>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <video id="img1" src="{% static 'videos/sld2.mp4' %}" class="d-block w-100" alt="..." autoplay loop muted playsinline>
                                                Tu navegador no soporta la etiqueta de video.
                                            </video>
                                            <div id="sld2" class="carousel-caption d-none d-md-block">
                                                <h5>• Explora Tarkov y sus secretos</h5>
                                                <p>Sumérgete en escenarios únicos como bloques de viviendas, bases militares, almacenes subterráneos y mucho más, con cambios climáticos en tiempo real
                                                    y ciclos de día y noche. Busca ubicaciones ocultas, recopila información y descifra los misterios que rodean a la ciudad.</p>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <video id="img1" src="{% static 'videos/sld3.mp4' %}" class="d-block w-100" alt="..." autoplay loop muted playsinline>
                                                Tu navegador no soporta la etiqueta de video.
                                            </video>
                                            <div id="sld3" class="carousel-caption d-none d-md-block">
                                                <h5>• Cuidado con los Scavs</h5>
                                                <p>Prepárate para enfrentarte a carroñeros salvajes controlados por la IA o incluso jugar como uno de ellos.
                                                    Sobrevive como Scav para transferir su botín a tu inventario principal. ¡Pero ten cuidado, el peligro acecha en cada esquina!</p>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <video id="img1" src="{% static 'videos/sld4.mp4' %}" class="d-block w-100" alt="..." autoplay loop muted playsinline>
                                                Tu navegador no soporta la etiqueta de video.
                                            </video>
                                            <div id="sld4" class="carousel-caption d-none d-md-block">
                                                <h5>• Supervivencia al límite</h5>
                                                <p>En Tarkov, si mueres, lo pierdes todo. Organiza tu inventario, protege tu equipo y planea cada incursión con cuidado.
                                                    ¿Te arriesgarás por un mejor botín o priorizarás llegar vivo?</p>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <video id="img1" src="{% static 'videos/sld5.mp4' %}" class="d-block w-100" alt="..." autoplay loop muted playsinline>
                                                Tu navegador no soporta la etiqueta de video.
                                            </video>
                                            <div id="sld5" class="carousel-caption d-none d-md-block">
                                                <h5>• Conviértete en un maestro del comercio</h5>
                                                <p>Negocia con comerciantes, adapta tus tácticas a una economía en constante cambio y establece tu propio lugar en el mercado.
                                                    Gestiona tus recursos, repara equipo, intercambia objetos valiosos y personaliza tu grupo de combate.</p>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <video id="img1" src="{% static 'videos/sld6.mp4' %}" class="d-block w-100" alt="..." autoplay loop muted playsinline>
                                                Tu navegador no soporta la etiqueta de video.
                                            </video>
                                            <div id="sld6" class="carousel-caption d-none d-md-block">
                                                <h5>• Siente el combate como nunca antes</h5>
                                                <p>Con el sistema HECS, experimenta un combate inmersivo que incluye balística realista, manejo detallado de armas, y una atención única a las
                                                    condiciones de salud de tu personaje, como hidratación, heridas y agotamiento. Personaliza tus armas con el sistema de modificación
                                                    más avanzado y utiliza tácticas para dominar cada enfrentamiento. ¡La supervivencia depende de tu habilidad y estrategia!</p>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div4 scroll-section">
                        <div id="cont-twitch">
                            {% if random_streamer %}
                                <h2>¡Gaming, Risas y Comunidad: Descubre Nuestros Streamers!</h2>
                                <h3>¡Mira a {{ random_streamer.username }} en vivo por Twitch!</h3>
                                <iframe
                                    src="https://player.twitch.tv/?channel={{ random_streamer.username }}&parent=127.0.0.1"
                                    height="500"
                                    width="900"
                                    frameborder="0"
                                    scrolling="no"
                                    allowfullscreen="true">
                                </iframe>
                            </div>
                        {% elif all_streamers %}
                            <p>No hay streamers de Tarkov configurados en este momento.</p>
                        {% else %}
                            <p>No se pudieron cargar los streamers.</p>
                        {% endif %}
                        </div>
                    </div>
                <footer class="div5 scroll-section" id="cont-footer">
                    ©2025 EFT. TODOS LOS DERECHOS RESERVADOS.
                </footer>          
            </div>
            <script src="{% static 'js/main.js' %}"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>            
        </body>
</html>