{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/extras.css' %}">
        <link rel="stylesheet" href="{% static 'css/versiones.css' %}">
        <title>Escape From Tarkov</title>
    </head>
        <body>
            <div class="sidebar" id="cont-menu">
                <h3>Menú</h3>
                    <ul>
                        <li><a href="{% url 'Comprar' %}">Tienda</a></li>
                        <li><a href="{% url 'Soporte' %}">Soporte</a></li>
                        <li><a href="{% url 'Registrar' %}">Registrarse</a></li>
                        <li><a href="{% url 'Ingresar' %}">Iniciar Sesión</a></li>
                    </ul>
            </div>
            <!-- <div id="rotate-message">
                Por favor, rota tu dispositivo a horizontal para una mejor experiencia.
                <img src="{% static 'img/rotate_icon.png' %}" alt="Icono de rotación" style="width: 100px; margin-top: 20px;">
            </div> -->
            <div class="parent">
                <header class="div1" id="cont-top">
                    <div id="menu-icon" onclick="toggleSidebar()">
                        <img src="{% static 'img/categories.png' %}" alt="Menú" class="img-fluid" style="cursor: pointer;">
                    </div>
                    <div id="cont-logo">
                        <a href="{% url 'Principal' %}">
                            <img src="{% static 'img/logo.png' %}" alt="Logo" class="img-fluid">
                        </a>
                    </div>
                    <div id="buttons">
                        <a href="https://escapefromtarkov.fandom.com/wiki/Escape_from_Tarkov_Wiki">Wiki</a>
                        <a href="{% url 'Comprar' %}">Tienda</a>
                        <a href="{% url 'Soporte' %}">Soporte</a>
                        <a href="{% url 'Registrar' %}">Registrarse</a>
                        <a href="{% url 'Ingresar' %}">Iniciar Sesión</a>
                        <button type="button" class="btn btn-outline-warning" href="{% url 'Comprar' %}">Tienda</button>
                    </div>
                </header>
                    <div class="div2">
                        <div id="cont-version">
                            <div class="version-item">
                                <div class="version-img">
                                    <img src="{% static 'img/versions.png' %}">
                                </div>
                                <h3>The Unheard Edition</h3>
                                <p>Alijo máximo (10x72 celdas), el más grande disponible.</p>
                                <p>Contenedor seguro gamma (3x3 celdas).</p>
                                <p>Contenido exclusivo y acceso prioritario a futuras actualizaciones.</p>
                                <p class="price">CLP $125.000</p>
                                <button class="buy-btn" onclick="/* Aquí iría la lógica para comprar The Unheard Edition */">Comprar</button>
                            </div>
                            <div class="version-item">
                                <div class="version-img">
                                    <img src="{% static 'img/ver2.png' %}">
                                </div>
                                <h3>Prepare for Escape</h3>
                                <p>Alijo grande (10x50 celdas).</p>
                                <p>Contenedor seguro beta (2x3 celdas).</p>
                                <p>Equipamiento inicial avanzado que incluye armas y accesorios.</p>
                                <p>Ideal para jugadores más comprometidos que quieren una ventaja significativa.</p>
                                <p class="price">CLP $45.000</p>
                                <button class="buy-btn" onclick="/* Aquí iría la lógica para comprar Prepare for Escape */">Comprar</button>
                            </div>
                            <div class="version-item">
                                <div class="version-img">
                                    <img src="{% static 'img/ver3.png' %}">
                                </div>
                                <h3>Left Behind</h3>
                                <p>Alijo medio (10x40 celdas)</p>
                                <p>Contenedor alpha (2x2 celdas).</p>
                                <p>Equipo inicial mejorado con armas y recursos adicionales.</p>
                                <p>Perfecto para jugadores que buscan un equilibrio entre precio y ventajas.</p>
                                <p class="price">CLP $32.000</p>
                                <button class="buy-btn" onclick="/* Aquí iría la lógica para comprar Left Behind */">Comprar</button>
                            </div>
                            <div class="version-item">
                                <div class="version-img">
                                    <img src="{% static 'img/ver4.png' %}">
                                </div>
                                <h3>Standard</h3>
                                <p>Alijo básico (10x30 celdas)</p>
                                <p>Contenedor alpha (2x2 celdas).</p>
                                <p>Equipamiento inicial básico para comenzar.</p>
                                <p>Ideal para nuevos jugadores que buscan una experiencia introductoria.</p>
                                <p class="price">CLP $20.000</p>
                                <button class="buy-btn" onclick="/* Aquí iría la lógica para comprar Standard */">Comprar</button>
                            </div>
                        </div>
                    </div>
                <footer class="div3" id="cont-footer">
                    ©2025 EFT. TODOS LOS DERECHOS RESERVADOS.
                </footer>          
            </div>
            <script src="main.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>            
        </body>
</html>