/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 34, 34);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/**********  GRID GENERAL  **********/
.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: rgb(14, 14, 14);
    gap: 0px;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    /* height: 100vh; */
    overflow-x: hidden;
    /* overflow-y: scroll; */ 
    /* background-color: red; */
}

/**********  HEADER  **********/
.div1 {
    width: 100%;
    height: 50px;
    grid-column: span 12 / span 12;
}

#cont-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(35, 35, 35, 1);
    box-shadow: 0px 4px 10px rgba(240, 245, 220, 0.5);
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#cont-logo {
    display: flex;
    align-items: center;
}

#cont-logo img {
    max-width: 120px;
    height: auto;
}

#buttons a {
    display: inline-block;
    padding: 3px 20px;
    color: rgb(245, 245, 220);
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    box-shadow: 0px 4px 10px rgba(240, 245, 220, 0.2);
}

#buttons a:hover {
    color: rgb(34, 34, 34);
    background-color: rgba(240, 245, 220, 0.8);
}

/**********  VERSIONES  **********/
.div2 {
    grid-column: span 12 / span 12; /* Ocupa la mayor parte del ancho */
    padding: 20px;
    margin-top: 5px; /* Para no quedar debajo del header fijo */
    display: flex;
    flex-direction: column; /* Organiza el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    background-color: back;
    background-size: size;
    background-repeat: no-repeat;
    background-position: inherit;
    width: 100vw;
    height: auto;
}

#tickets-container {
    display: flex;
    flex-direction: column; /* Muestra los tickets en columna */
    gap: 20px; /* Espaciado entre tickets */
    margin-top: 8%;
    margin-bottom: 5%;
    padding: 10px;
    background-color: rgba(34, 34, 34, 0.9); /* Fondo oscuro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* Cada ticket */
.ticket {
    background-color: rgb(47, 47, 47);
    color: rgb(245, 245, 220);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaciado interno */
}

/* Botón "Ver Ticket" */
.view-ticket-btn {
    background-color: rgb(211, 188, 141);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-ticket-btn:hover {
    background-color: rgb(245, 245, 220); /* Hover más claro */
}

/* Título */
h2.text-center {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: rgb(245, 245, 220);
}

/**********  FOOTER  **********/
.div3 {
    grid-column: span 12 / span 12;
    background-color: rgba(35, 35, 35, 1);
}

#cont-footer {
    width: 100%;
    height: 50px;
    background-color: rgba(35, 35, 35, 1);
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px 4px 10px rgba(240, 245, 220, 1);
}