* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 34, 34);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background1.jpg");
    background-size: cover;     
    background-attachment: fixed; 
    background-position: center;  
    background-repeat: no-repeat; 
    overflow-y: hidden;
}

/* GRID GENERAL */
.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0px;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth; 
    height: 100vh;
    overflow-x: hidden;
}
 
/**********  HEADER  **********/
.div1 {
    width: 100%;
    height: 50px;
    grid-column: span 12 / span 12;
}

#cont-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(35, 35, 35, 0.5);
    box-shadow: 0px 4px 10px rgba(240, 245, 220, 0.5);
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#cont-logo {
    display: flex;
    align-items: center;
}

#cont-logo img {
    max-width: 120px;
    height: auto;
}

/* BOTONES CONTENEDOR TOP*/
.btn-outline-btn-primary {
    display: inline-block;
    padding: 3px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    color: rgb(154, 136, 102);
    border-color: rgb(154, 136, 102);
    background-color: rgb(34, 34, 34);
    box-shadow: 0px 4px 10px rgba(240, 245, 220, 0.2);
}

.btn-outline-btn-primary:hover {
    color: rgb(34, 34, 34);
    background-color: rgb(154, 136, 102);
}

/**********  TICKETS  **********/
.div2 {
    grid-column: span 12 / span 12; 
    padding: 20px;
    margin-top: 5px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: back;
    background-size: size;
    background-repeat: no-repeat;
    background-position: inherit;
    width: 100vw;
    height: auto;
}

#tickets-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    margin-top: 8%;
    margin-bottom: 8%;
    padding: 10px;
    background-color: rgba(34, 34, 34, 0.9); /* Fondo oscuro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    justify-self: center;
}

/* Cada ticket */
.ticket {
    background-color: rgb(47, 47, 47);
    color: rgb(245, 245, 220);
    padding: 20px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

/* Botón "Ver Ticket" */
.view-ticket-btn {
    background-color: rgb(211, 188, 141);
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-ticket-btn:hover {
    background-color: rgb(245, 245, 220); 
}

/* Título */
h2.text-center {
    text-align: center;
    font-size: 2rem;
    margin-top: 100px;
    margin-bottom: 50px;
    color: rgb(245, 245, 220);
}

p.text-center {
    margin: 150px;
    color: rgb(245, 245, 220);
}

/**********  FOOTER  **********/
.div3 {
    grid-column: span 12 / span 12;
    background-color: rgb(34, 34, 34);
}

#cont-footer {
    width: 100%;
    height: 40px;
    background-color: rgb(34, 34, 34);
    color: rgb(245, 245, 220);
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px 4px 10px rgba(240, 245, 220, 1);
    bottom: 0;
}
        
/**********  EXTRAS  **********/
@media (max-width: 600px) {
    #tickets-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        margin-top: 8%;
        margin-bottom: 8%;
        padding: 10px;
        background-color: rgba(34, 34, 34, 0.9); /* Fondo oscuro */
        border-radius: 10px; /* Bordes redondeados */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        justify-self: center;
    }

    p.text-center {
    }
}

@media (min-width: 600px) and (max-width: 992px) {
    p.text-center {
    }
}