/* GENERALES */
.card.shadow-sm.h-100 {
    width: 320px;
    height: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    align-items: center;
    justify-self: center;
    color: rgb(245, 245, 220);  
    background-color: rgba(34, 34, 34, 0.5);
}

/* IMAGEN */
.card-img-top.object-fit-cover {
    width: 174px;
    height: 150px;
}

/* TEXTO */
.card-body.d-flex.flex-column.justify-content-between {
    margin: 0;
    padding: 10px;
    height: auto;
    align-items: center;
    justify-content: flex-start;
}

/* BOTON */
.btn-outline-btn-primary-1 {
    width: 150px;
    align-self: center;
    color: rgb(34, 34, 34);
    background-color: rgb(154, 136, 102);
}

.btn-outline-btn-primary-1:hover {
    color: rgb(34, 34, 34);
    background-color: rgb(154, 136, 102);
}

/**********  EXTRAS  **********/
@media (max-width: 600px) {
    .div2 {
        grid-template-columns: 1fr;
        align-items: stretch;
        margin-top: 50px;
    }

    .card-img-top.object-fit-cover {
        width: 150px;
        height: auto;
    }

    .div3 {
        height: 60px;
    }
    .card.shadow-sm.h-100 {
        width: 180px;
        min-height: 200px;
        max-height: 700px;
        margin: 0;
        padding: 0;
        padding-bottom: 50px;
        align-items: center;
        justify-self: center;
        color: rgb(245, 245, 220);  
        background-color: rgba(0, 0, 0, 0.0);
    }
}

@media (min-width: 600px) and (max-width: 992px) {
    .div2 {
        grid-template-columns: 1fr 1fr;
        height: auto;
        align-items: stretch;
        margin-top: 50px;
    }

    .card-img-top.object-fit-cover {
        width: 150px;
        height: auto;
    }

    .card.shadow-sm.h-100 {
        width: 180px;
        min-height: 200px;
        max-height: 700px;
        margin: 0;
        padding: 0;
        padding-bottom: 50px;
        align-items: center;
        justify-self: center;
        color: rgb(245, 245, 220);  
        background-color: rgba(0, 0, 0, 0.0);
    }
}

/* Estilos para escritorios (ancho mínimo de 1025px) */
@media (min-width: 992px) {
    .div2 {
        margin-top: 50px;
        align-items: stretch;
        justify-content: center;
        grid-template-columns: 1fr;
    }

    .card-img-top.object-fit-cover {
        width: 160px;
        height: auto;
    }

    .card.shadow-sm.h-100 {
        width: 180px;
        min-height: 200px;
        max-height: 700px;
        margin: 0;
        padding: 0;
        padding-bottom: 50px;
        align-items: center;
        justify-self: center;
        color: rgb(245, 245, 220);  
        background-color: rgba(0, 0, 0, 0.0);
    }
}